{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format .Site.Params.DateForm }} in
		{{ range .Params.categories }}
		<a href="/categories/{{ . | urlize | lower }}" class="btn btn-primary">{{ . }}</a>
		{{ end }}
		{{ partial "share.html" . }}
  </span>
  {{ .Content }}
  <hr>
  <h2>About The Author</h2>
  <p>Baron is the founder and CEO of <a href="https://vividcortex.com/">VividCortex</a>. He is the author of High
  Performance MySQL and many open-source tools for performance analysis, monitoring, and system administration.
  Baron contributes to various database communities such as Oracle, PostgreSQL, Redis and MongoDB.</p>

<div class="pagination">
  {{ if .Prev }}
    <a class="pagination-item newer" href="{{ .Prev.URL }}">Newer</a>
  {{ else }}
    <span class="pagination-item newer">Newer</span>
  {{ end }}
  {{ if .Next }}
    <a class="pagination-item older" href="{{ .Next.URL }}">Older</a>
  {{ else }}
    <span class="pagination-item older">Older</span>
  {{ end }}
</div>


  {{ if .Site.Params.DisqusUser }}
  {{ partial "disqus.html" . }}
  {{ end }}
</div>

{{ partial "default_foot.html" . }}
